body{
    background-color: bisque;
}
.contenedor{
    background-color: white;
}
ul{
    background-color: cornflowerblue;
    padding: 10px;
    list-style-type: square;
    list-style-position: inside;
}
ul li{
    background-color: aliceblue;
    margin: 3px;
}
ul li ul{
    background-color: skyblue;
    padding: 10px;
    list-style-type: circle;
    list-style-position: outside;
}
ul li ul li{
    background-color: beige;
    margin: 3px;
}
ul li ul li ul{
    background-color: aquamarine;
    list-style-type: disc;
    list-style-position: inside;
    padding: 10px;
}
ul li ul li ul li{
    background-color: blanchedalmond;
}